<div class="container">
<div class="row">
<div class="col-md-3"><br>
<a class="sidenav" href="/pages/about"><b>About Us</b></a>
<a class="sidenav" href="/pages/team">Team</a>



</div>







<div class="container">
<div class="row">
<div class="col-md-9">
<h1>About Us</h1>
<br>

<p>Digital Vidyah helps students connect to various exceptional tutors in close proximity of their residences.</p>
<p>Digital Vidyah believes that a quality tutor is perhaps the most valuable resource every student wishes to have in the era of cut throat competition.We understand that every student has his own individual needs which can be best addressed by a tutor who crafts the subject to the specification of the student .We at Digital Vidyah act as the bridge in the harmonious relationship between tutors and students.</p>

<h2>Why Choose Us</h2>
<p><strong>Exceptional Qualified Tutors</strong></p>
<p>Digital Vidyah accept only the best exceptional qualified tutors, so the student can choose from the widest range of qualified experts.
</p>
<p><strong>Personalized Teaching</strong></p>
<p>Digital Vidyah tutors offers a 100% personal attention to students.
<p><strong>Variety of Subjects</strong></p>
<p>Digital Vidyah offers a wide range of subjects for all State Boards, CBSE & ICSE.
</p>
<br>
<br>
<br>
<br>
<br>
</div>
</div>
</div>
</div>
</div>
</div>



