<div class="container">
<div class="row">
<div class="col-md-3"><br>
<a class="sidenav" href="/pages/team"><b>Team</b></a>
<a class="sidenav" href="/pages/about">About Us</a>



</div>


<div class="container">
<div class="row">
<div class="col-md-9">
<h1>Our Team</h1>
<br>
<br>



 <!-- Team Section -->
     <section id="team" class="bg-light-gray">
           
            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="https://dl.dropboxusercontent.com/s/tkclj8zjqnm12dw/shailabh.png?dl=0" class="img-responsive img-circle" alt="">
                        <h4><center>Shailabh Dubey</h4></center>
                        <p class="text-muted"><center>Founder & CEO</p></center>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                       
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="https://dl.dropboxusercontent.com/s/goiu4t0dwp2unv8/amit.png?dl=0" class="img-responsive img-circle" alt="">
                        <h4><center>Amit Prajapati</h4></center>
                        <p class="text-muted"><center>Marketing Head</p></center>

                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                       
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="https://dl.dropboxusercontent.com/s/nq69l096mf892dg/DURGESH.png?dl=0" class="img-responsive img-circle" alt="">
                        <h4><ceneter>Durgesh Kaushik</ceneter></h4>
                        <p class="text-muted"><center>Web Designer</center></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="https://dl.dropboxusercontent.com/s/1v7b7lyz4uvz1r7/vik.png?dl=0" class="img-responsive img-circle" alt="">
                        <h4><center>Vikash Singh</h4></center>
                        <p class="text-muted"><center>PR Head</center></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                       
                    </div>
                </div>
                </p>
                </h4>
                </div>
                </div>
                </div>
                </div>
      
                </div>
                </div>
               


