<div class="container">
<div class="row">
<div class="col-md-12">
 <div class="text-xs-center"><br>
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>We will get back you soon</strong> 
  <hr>
  <p>
    Having trouble? <a href="/contacts/new">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
  </p>
  <br>
  <br>
  <br>
</div>
</div>
</div>
</div>