<br>

<div class="container">
<div class="row">
<div class="col-md-6">


<h1>New Popular Institute</h1>

<%= render 'form', popular_institute: @popular_institute %>

<%= link_to 'Back', popular_institutes_path %>
